<!-- site-banner -->
<header>

  <!-- Banner-->
  <div class="container">
    <div class="banner">
      <a href="https://biodiversitydata.se/" title="Swedish Biodiversity Data Infrastructure">
        <img src="::headerFooterServer::/app/themes/sbdi/assets/images/SBDI-rgb.svg" alt="Swedish Biodiversity Data Infrastructure">
      </a>
      <p data-i18n="general.orgfullname"></p>
      <a class="hidden-xs" href="https://biodiversitydata.se/explore-data/">
        <i class="fas fa-arrow-circle-right"></i>&nbsp;SBDI portals and tools
      </a>
    </div>
  </div>

  <!-- Navbar -->
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar-collapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Search and explore <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="https://collections.biodiversitydata.se/datasets">Search datasets and checklists</a></li>
              <li><a href="https://collections.biodiversitydata.se/">Explore data partners</a></li>
              <li><a href="https://lists.biodiversitydata.se/">Explore species lists</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="https://species.biodiversitydata.se/">Search species</a></li>
              <li><a href="https://records.biodiversitydata.se/#tab_simpleSearch">Search occurrence records</a></li>
              <li><a href="https://spatial.biodiversitydata.se/">Analyse data in Spatial Portal</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="https://records.biodiversitydata.se/explore/your-area">Explore records in your area</a></li>
              <li><a href="https://regions.biodiversitydata.se/">Explore records in predefined regions</a></li>
              <li><a href="https://records.biodiversitydata.se/search#tab_spatialSearch">Search by polygon</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="https://docs.biodiversitydata.se/">Browse our help pages</a></li>
              <li><a href="https://docs.biodiversitydata.se/support">Contact us / Support</a></li>
              <li><a href="https://biodiversitydata.se/explore-data/programming/">Programming and API:s</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="https://docs.biodiversitydata.se/sbdi-data/citation-guide/">How to site SBDI and data used</a></li>
              <li><a href="https://biodiversitydata.se/share-data/">Share your data</a></li>
            </ul>
          </li>
          <li id="search-dropdown" class="dropdown">
            <a href="#" id="search-icon" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="visible-xs-inline visible-sm-inline">Search</span>
              <i class="visible-md-inline visible-lg-inline fas fa-search"></i> <span class="caret"></span>
            </a>
            <form id="search-form" class="dropdown-menu" method="get" action="::searchServer::::searchPath::">
              <input id="autocompleteHeader" name="q" class="form-control" type="text" data-i18n="[placeholder]nav.searchbox">
            </form>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="visible-xs-inline visible-sm-inline">User</span>
              <i class="visible-md-inline visible-lg-inline fas fa-user"></i> <span class="caret"></span>
            </a>
            <ul id="user-menu" class="dropdown-menu ::loginStatus::">
              <li><a class="loginBtn" href="::loginURL::">Login</a></li>
              <li><a class="signUpBtn" href="::casURL::/userdetails/registration/createAccount/">Sign up</a></li>
              <li><a class="myProfileBtn" href="::casURL::/userdetails/myprofile/">My profile</a></li>
              <li><a class="logoutBtn" href="::logoutURL::">Logout</a></li>
            </ul>
          </li>
          <li class="visible-xs-inline">
            <a href="https://biodiversitydata.se/explore-data/">SBDI portals and tools</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="::containerClass::" id="autocompleteSearchALA" class="collapse"></div>

<!-- ALA autocomplete code -->
<script type="text/html" id="autoCompleteTemplate">
      <li class="autocomplete-item striped">
        <div class="content-spacing">
          <div class="autocomplete-heading">
            <% if (commonNameMatches.length > 0) { %>
            <%=commonNameMatches[0]%>
            <% } else if (scientificNameMatches.length > 0) { %>
            <%=scientificNameMatches[0]%>
            <% } else { %>
            <%=matchedNames[0]%>
            <% } %>
          </div>
        </div>
      </li>
    </script>
<!-- end site-banner -->

<!-- maintenance -->
<div id="mante-container" style="display: none;" class="container"></div>
<!-- end maintenance -->