<!-- site-banner -->
<header>
  <!-- Desktop banner-->
  <div class="container hide-on-mobile hide-on-tablet">
    <div class="banner-desktop">
      <div class="banner-logo">
        <a href="https://biodiversitydata.se/" title="Swedish Biodiversity Data Infrastructure">
          <img src="/images/SBDI-rgb.svg" alt="Swedish Biodiversity Data Infrastructure">
        </a>
        <p data-i18n="general.orgfullname"></p>
      </div>
      <a class="banner-link" href="https://new.biodiversitydata.se/explore-data/">
        <i class="fas fa-arrow-circle-right"></i>&nbsp;SBDI Portals and tools
      </a>
    </div>
  </div>
  <!-- Mobile banner-->
  <div class="hide-on-desktop banner-mobile">
    <a href="https://biodiversitydata.se" title="Swedish Biodiversity Data Infrastructure">
      <img src="/images/SBDI-rgb.svg" alt="Swedish Biodiversity Data Infrastructure">
    </a>
  </div>

  <!-- Desktop navbar -->
  <div class="header-bottom header--row layout-full-contained hide-on-mobile hide-on-tablet" id="cb-row--header-bottom"
    data-row-id="bottom" data-show-on="desktop mobile">
    <div class="header--row-inner header-bottom-inner">
      <div class="container">
        <div class="customify-grid cb-row--desktop hide-on-mobile hide-on-tablet customify-grid-middle">
          <div class="customify-col-12_md-12_sm-12 builder-item builder-first--primary-menu" data-push-left="">
            <div class="item--inner builder-item--primary-menu has_menu" data-section="header_menu_primary"
              data-item-id="primary-menu">
              <nav id="site-navigation-bottom-desktop"
                class="site-navigation primary-menu primary-menu-bottom nav-menu-desktop primary-menu-desktop style-plain">
                <ul id="menu-nested-pages-main-menu" class="primary-menu-ul menu nav-menu">
                  <li id="menu-item--bottom-desktop-1923"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1923">
                    <a href="::centralServer::"><span class="link-before">Home</span></a>
                  </li>
                  <li id="menu-item--bottom-desktop-1923"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1923">
                    <a href="https://collections.biodiversitydata.se/"><span class="link-before">Data and Partners<span
                          class="nav-icon-angle">&nbsp;</span></span></a>
                    <ul class="sub-menu sub-lv-0">
                      <li id="menu-item--bottom-desktop-1929"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1929">
                        <a href="https://collections.biodiversitydata.se/datasets"><span class="link-before">Search
                            datasets and checklists</span></a>
                      </li>
                      <li id="menu-item--bottom-desktop-1933"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1933"><a
                          href="https://collections.biodiversitydata.se/"><span class="link-before">Explore data
                            partners</span></a>
                      </li>
                      <li id="menu-item--bottom-desktop-1935"
                        class="menu-item-bottom-divider menu-item menu-item-type-custom menu-item-object-custom menu-item-1935"><a
                          href="https://lists.biodiversitydata.se/"><span class="link-before">Explore species
                            lists</span></a>
                      </li>
                    </ul>
                  </li>
                  <li id="menu-item--bottom-desktop-1946"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1946">
                    <a href="https://records.biodiversitydata.se/explore/your-area"><span
                        class="link-before">Explore by Location<span class="nav-icon-angle">&nbsp;</span></span></a>
                    <ul class="sub-menu sub-lv-0">
                      <li id="menu-item--bottom-desktop-1939"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1939"><a
                          href="https://records.biodiversitydata.se/explore/your-area"><span class="link-before">Explore
                            records in your area</span></a></li>
                      <li id="menu-item--bottom-desktop-1941"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1941"><a
                          href="https://regions.biodiversitydata.se/"><span class="link-before">Explore records in
                            predefined region</span></a></li>
                      <li id="menu-item--bottom-desktop-1943"
                        class="menu-item-bottom-divider menu-item menu-item-type-custom menu-item-object-custom menu-item-1943">
                        <a href="https://records.biodiversitydata.se/search#tab_spatialSearch"><span
                            class="link-before">Search by polygon</span></a>
                      </li>
                    </ul>
                  </li>
                  <li id="menu-item--bottom-desktop-1966"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1966">
                    <a href="https://species.biodiversitydata.se/"><span class="link-before">Search and Analyse<span
                          class="nav-icon-angle">&nbsp;</span></span></a>
                    <ul class="sub-menu sub-lv-0">
                      <li id="menu-item--bottom-desktop-1920"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1920"><a
                          href="https://species.biodiversitydata.se/"><span class="link-before">Search
                            species</span></a></li>
                      <li id="menu-item--bottom-desktop-1927"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1927">
                        <a href="https://records.biodiversitydata.se/#tab_simpleSearch"><span class="link-before">Search
                            occurrence records</span></a>
                      </li>
                      <li id="menu-item--bottom-desktop-1950"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1950"><a
                          href="https://spatial.biodiversitydata.se/"><span class="link-before">Analyse data in Spatial
                            Portal</span></a>
                      </li>
                    </ul>
                  </li>
                  <li id="menu-item--bottom-desktop-1966"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1966">
                    <a href="https://docs.biodiversitydata.se/"><span class="link-before">Help<span
                          class="nav-icon-angle">&nbsp;</span></span></a>
                    <ul class="sub-menu sub-lv-0">
                      <li id="menu-item--bottom-desktop-1968"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1968">
                        <a href="https://docs.biodiversitydata.se"><span class="link-before">Browse our help
                            pages</span></a>
                      </li>
                      <li id="menu-item--bottom-desktop-1976"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1976"><a
                          href="https://docs.biodiversitydata.se/support"><span class="link-before">Contact us /
                            Support</span></a>
                      </li>
                      <li id="menu-item--bottom-desktop-1976"
                        class="menu-item-bottom-divider menu-item menu-item-type-custom menu-item-object-custom menu-item-1976"><a
                          href="https://new.biodiversitydata.se/explore-data/programming/"><span class="link-before">Programming and API:s</span></a>
                      </li>
                      <li id="menu-item--bottom-desktop-1970"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1970"><a
                          href="https://docs.biodiversitydata.se/sbdi-data/citation-guide/"><span
                            class="link-before">How to cite SBDI and data used</span></a>
                      </li>
                      <li id="menu-item--bottom-desktop-1972"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1972"><a
                          href="https://new.biodiversitydata.se/share-data/"><span
                            class="link-before">Share your data</span></a>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom">
                    <a id="searchIcon" href="#">
                      <i class="fas fa-search"></i>
                    </a>
                    <form id="searchForm" method="get" action="::searchServer::::searchPath::" class="hidden">
                        <input name="q" id="autocompleteHeader" type="text" data-i18n="[placeholder]nav.searchbox">
                    </form>
                  </li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom">
                    <a href="#" class="banner-user-icon">
                      <i class="fas fa-user"></i>
                    </a>
                    <ul id="user-menu" class="sub-menu sub-lv-0 ::loginStatus::">
                      <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1968">
                        <a data-i18n="nav.login" class="loginBtn" href="::loginURL::"></a>
                      </li>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1968">
                        <a data-i18n="nav.myprofile" class="myProfileBtn" href="::casURL::/userdetails/myprofile/"></a>
                      </li>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1968">
                        <a data-i18n="nav.logout" class="logoutBtn" href="::logoutURL::"></a>
                      </li>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1968">
                        <a data-i18n="nav.create-account" class="signUpBtn" href="::casURL::/userdetails/registration/createAccount"></a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>
</header>


<!-- Mobile Navbar  -->
<nav class="navbar navbar-default hide-on-desktop">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand hide-on-desktop" href="::centralServer::" data-i18n="general.orgfullname"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

        <li class="hide-on-desktop hide-on-tablet"><a href="https://new.biodiversitydata.se/explore-data/"><i
              class="fas fa-external-link-alt"></i>&nbsp; SBDI Portals and tools</a></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false"><span data-i18n="">Data and Partners</span> <span class="caret"></span></a>
          <ul class="sub-menu sub-lv-0 dropdown-menu">
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1929">
              <a href="https://collections.biodiversitydata.se/datasets">
                <span class="link-before">Search datasets and checklists</span></a>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1933"><a
                href="https://collections.biodiversitydata.se/">
                <span class="link-before">Explore data partners</span></a>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1935"><a
                href="https://lists.biodiversitydata.se/">
                <span class="link-before">Explore species lists</span></a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false"><span data-i18n="">Explore by Location</span> <span class="caret"></span></a>
          <ul class="sub-menu sub-lv-0 dropdown-menu">
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1939"><a
                href="https://records.biodiversitydata.se/explore/your-area">
                <span class="link-before">Explore records in your area</span></a>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1941"><a
                href="https://regions.biodiversitydata.se/">
                <span class="link-before">Explore records in predefined region</span></a>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1943"><a
                href="https://records.biodiversitydata.se/search#tab_spatialSearch">
                <span class="link-before">Search by polygon</span></a>
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false"><span data-i18n="">Search and Analyse</span> <span class="caret"></span></a>
          <ul class="sub-menu sub-lv-0 dropdown-menu">
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1920"><a
                href="https://species.biodiversitydata.se/">
                <span class="link-before">Search species</span></a>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1927"><a
                href="https://records.biodiversitydata.se/#tab_simpleSearch">
                <span class="link-before">Search occurrence records</span></a>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1950"><a
                href="https://spatial.biodiversitydata.se/">
                <span class="link-before">Analyse in Spatial Portal</span></a>
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false"><span data-i18n="">Help</span> <span class="caret"></span></a>
          <ul class="sub-menu sub-lv-0 dropdown-menu">
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1968">
              <a href="https://docs.biodiversitydata.se"><span class="link-before">Browse our help
                  pages</span></a>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1976"><a
                href="https://docs.biodiversitydata.se/support"><span class="link-before">Contact us /
                  Support</span></a>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1976"><a
                href="https://new.biodiversitydata.se/explore-data/programming/"><span class="link-before">Programming and API:s</span></a>
            </li>
            <li role="separator" class="divider"></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1970"><a
                href="https://docs.biodiversitydata.se/sbdi-data/citation-guide/"><span class="link-before">How to cite
                  SBDI and data used</span></a>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1972"><a
                href="https://new.biodiversitydata.se/share-data/"><span class="link-before">Share your
                  data</span></a>
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false"><span data-i18n="nav.more"></span> <span class="caret"></span></a>
          <ul id="dropdown-auth-menu" class="dropdown-menu ::loginStatus::">
            <li><a data-i18n="nav.login" class="loginBtn" href="::loginURL::"></a></li>
            <li><a data-i18n="nav.myprofile" class="myProfileBtn" href="::casURL::/userdetails/myprofile/"></a></li>
            <li><a data-i18n="nav.logout" class="logoutBtn" href="::logoutURL::"></a></li>
            <li><a data-i18n="nav.create-account" class="signUpBtn"
                href="::casURL::/userdetails/registration/createAccount"></a></li>
          </ul>
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="::containerClass::" id="autocompleteSearchALA" class="collapse"></div>

<!-- ALA autocomplete code -->
<script type="text/html" id="autoCompleteTemplate">
      <li class="autocomplete-item striped">
        <div class="content-spacing">
          <div class="autocomplete-heading">
            <% if (commonNameMatches.length > 0) { %>
            <%=commonNameMatches[0]%>
            <% } else if (scientificNameMatches.length > 0) { %>
            <%=scientificNameMatches[0]%>
            <% } else { %>
            <%=matchedNames[0]%>
            <% } %>
          </div>
        </div>
      </li>
    </script>
<!-- end site-banner -->

<!-- maintenance -->
<div id="mante-container" style="display: none;" class="container"></div>
<!-- end maintenance -->