/* Authentication menu items */
ul.signedIn > li > a.signUpBtn {
  display: none;
}

ul.signedOut > li > a.myProfileBtn {
  display: none;
}

ul.signedIn > li > a.loginBtn  {
  display: none;
}

ul.signedOut > li > a.logoutBtn  {
  display: none;
}
