.button,
button,
button.button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    background-color: #284966;
}

body {
    font-family: "Roboto";
    font-weight: normal;
    color: #686868;
    line-height: 1.618;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Roboto";
    font-weight: 500;
    color: #2b2b2b;
    clear: both;
}

a {
    color: #1e4b75;
}
a:focus,
a:hover {
    color: #111
}

a:active,
a:hover {
    outline: 0
}

img {
    height: auto;
    max-width: 100%;
}

input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
textarea {
    color             : #282828;
    border            : 1px solid #e5e5e5;
    box-shadow        : 0 1px 2px rgba(0, 0, 0, .12) inset;
    padding           : 0 .75em;
    /*height            : 2.6em;*/
    width             : 100%;
    max-width         : 100%;
    vertical-align    : middle;
    border-radius     : 1px;
    -moz-appearance   : none;
    -webkit-appearance: none
}

input[type=color]:focus,
input[type=date]:focus,
input[type=datetime-local]:focus,
input[type=datetime]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=range]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
select:focus,
textarea:focus {
    border-color    : rgba(0, 0, 0, .1);
    outline         : 0;
    background-color: #f9f9f9
}

/** Nextgen **/
/* Banner */

.banner {
    display: flex;
    margin: 0.8rem 0;
}
.banner img {
    width: 120px;
}
.banner p {
    flex-grow: 1;
    align-self: flex-end;
    margin-left: 1rem;
    margin-bottom: -6px;
    font-size: 1.3rem;
}

.navbar {
    min-height: auto;
    border-radius: 0;
}
.navbar-default {
    background-color: var(--primary-sbdi-blue);
    border: none;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-header button.navbar-toggle {
    margin-bottom: 5px;
    margin-top: 5px;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    background-color: var(--primary-sbdi-darkblue);
    color: #fff;
}
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:hover, 
.navbar-default .navbar-nav>.open>a:focus {
    background-color: var(--primary-sbdi-darkblue);
    color: #fff;
}
.navbar-nav .open .dropdown-menu {
    background-color: #fff;
}
.navbar input[name='q'] {
    width: 20rem;
    border: none;
    box-shadow: none;
}
@media (min-width: 992px) {
    .navbar .navbar-collapse {
        float: right;
    }
    .navbar-header button.navbar-toggle {
        display: none;
        margin-bottom: 4px;
        margin-top: 4px;
    }
    .navbar-nav>li>a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

/* Index page */
h1.index-header {
    margin-top: 4rem;
    text-align: center;
    color: var(--primary-sbdi-darkblue);
}

.index-search {
    width: 50rem;
    margin: 3rem auto 0 auto;
}
@media screen and (max-width: 1024px) {    
    .index-search {
        width: 40rem;
    }
}
@media screen and (max-width: 586px) {
    .index-search {
        width: 23rem;
    }
}

.index-counters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
}
.index-counters > div {
    margin: 1.5rem 2.25rem;
    color: var(--primary-sbdi-darkblue);
    text-align: center;
}
.index-counters > div > a {
    display: block;
    font-size: 2.5rem;
}
.index-counters > div > div {
    font-size: 1.8rem;
}
@media screen and (max-width: 1024px) {
    .index-counters > div {
        margin: 1.2rem 1.75rem;
    }
    .index-counters > div > a {
        font-size: 2.0rem;
    }
    .index-counters > div > div {
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 568px) {
    .index-counters > div {
        margin: 1rem 1rem;
    }
    .index-counters > div > a {
        font-size: 1.7rem;
    }
    .index-counters > div > div {
        font-size: 1.0rem;
    }
}

.index-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4.25rem;
    margin-bottom: 2rem;
}
.index-cards > div {
    width: 18rem;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
    background-color: #f8fafc;
    border: #e2e8f0 solid 1px;
    border-radius: 0.5rem;
}
.index-cards img {
    border-radius: 0.5rem 0.5rem 0 0;
}
.index-cards h2 {
    margin: 1rem 1rem 0.5rem 1rem;
    font-size: large;
    color: var(--primary-sbdi-darkblue);
}
.index-cards ul {
    margin: 0 1rem 1rem 2rem;
    padding: 0;
}

/* Footer */
footer {
    background-color: var(--primary-sbdi-darkblue);
    color: #ffffff;
}
footer > .container {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    display: flex;
    text-align: left;
}
footer > .container > div:first-child {
    flex-grow: 1;
    align-self: center;
}
footer a {
    color: #ffffff;
    text-wrap: nowrap;
    text-decoration: underline;
}
footer a:hover {
    color: #ffffff;
}
