.customify-container,
.layout-contained,
.site-framed .site,
.site-boxed .site {
    max-width: 1200px;
}

.main-layout-content .entry-content>.alignwide {
    width    : calc(1200px - 4em);
    max-width: 100vw;
}

.header-top .header--row-inner,
.button,
button,
button.button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button:not(.components-button):not(.customize-partial-edit-shortcut-button),
input[type="button"]:not(.components-button):not(.customize-partial-edit-shortcut-button),
input[type="reset"]:not(.components-button):not(.customize-partial-edit-shortcut-button),
input[type="submit"]:not(.components-button):not(.customize-partial-edit-shortcut-button),
.pagination .nav-links>*:hover,
.pagination .nav-links span,
.nav-menu-desktop.style-full-height .primary-menu-ul>li.current-menu-item>a,
.nav-menu-desktop.style-full-height .primary-menu-ul>li.current-menu-ancestor>a,
.nav-menu-desktop.style-full-height .primary-menu-ul>li>a:hover,
.posts-layout .readmore-button:hover {
    background-color: #004767;
}

.posts-layout .readmore-button {
    color: #004767;
}

.pagination .nav-links>*:hover,
.pagination .nav-links span,
.entry-single .tags-links a:hover,
.entry-single .cat-links a:hover,
.posts-layout .readmore-button,
.posts-layout .readmore-button:hover {
    border-color: #004767;
}

.customify-builder-btn {
    background-color: rgba(0, 71, 103, 0.8);
}

body {
    font-family: "Roboto";
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Roboto";
    font-weight: 500;
}

.site-content .widget-title {
    font-family: "Roboto";
    font-weight: 500;
}

.site-branding .site-title,
.site-branding .site-title a {
    font-family: "Roboto";
    font-weight: normal;
}

.site-branding .site-description {
    font-family: "Roboto";
    font-weight: normal;
}

.entry-content h1,
.wp-block h1,
.entry-single .entry-title {
    font-family: "Roboto";
    font-weight: 500;
}

.entry-content h2,
.wp-block h2 {
    font-family: "Roboto";
    font-weight: 500;
}

.entry-content h3,
.wp-block h3 {
    font-family: "Roboto";
    font-weight: 500;
}

.entry-content h4,
.wp-block h4 {
    font-family: "Roboto";
    font-weight: 500;
}

.entry-content h5,
.wp-block h5 {
    font-family: "Roboto";
    font-weight: 500;
}

.entry-content h6,
.wp-block h6 {
    font-family: "Roboto";
    font-weight: 500;
}

#page-cover {
    -webkit-background-size: cover;
    -moz-background-size   : cover;
    -o-background-size     : cover;
    background-size        : cover;
}

#page-cover {
    background-position: center;
}

#page-cover {
    background-repeat: repeat-x;
}

#page-breadcrumb {
    font-family: "Roboto";
    font-weight: normal;
}

.header--row:not(.header--transparent).header-main .header--row-inner {
    border-style       : none;
    border-top-width   : 0px;
    border-right-width : 0px;
    border-bottom-width: 0px;
    border-left-width  : 0px;
}

.header--row:not(.header--transparent).header-bottom .header--row-inner {
    background-color: rgba(0, 71, 103, 0.6);
}

.sub-menu .li-duplicator {
    display: none !important;
}

.builder-header-html-item.item--html p,
.builder-header-html-item.item--html {
    font-family   : "Roboto";
    font-weight   : normal;
    text-transform: none;
    font-size     : 18px;
}

.header--row:not(.header--transparent) .menu-mobile-toggle {
    color: #ffffff;
}

.header-search_icon-item .header-search-modal {
    border-style: solid;
}

.header-search_icon-item .search-field {
    border-style: solid;
}

.header-search_box-item .search-form-fields {
    font-size: 14px;
}

.dark-mode .header-search_box-item .search-form-fields,
.header-search_box-item .search-form-fields {
    background-color: rgba(0, 71, 103, 0.1);
    border-style    : solid;
}

.builder-item--primary-menu .nav-icon-angle {
    width : 8px;
    height: 8px;
}

.builder-item--primary-menu .nav-menu-desktop .primary-menu-ul>li>a {
    color                : #ffffff;
    text-decoration-color: #ffffff;
}

.header--row:not(.header--transparent) .builder-item--primary-menu .nav-menu-desktop .primary-menu-ul>li>a:hover,
.header--row:not(.header--transparent) .builder-item--primary-menu .nav-menu-desktop .primary-menu-ul>li.current-menu-item>a,
.header--row:not(.header--transparent) .builder-item--primary-menu .nav-menu-desktop .primary-menu-ul>li.current-menu-ancestor>a,
.header--row:not(.header--transparent) .builder-item--primary-menu .nav-menu-desktop .primary-menu-ul>li.current-menu-parent>a {
    background-color: #004767;
    text-decoration: none;
}

a.item--button {
    font-family   : "Roboto";
    font-style    : normal;
    font-weight   : 500;
    text-transform: none;
    line-height   : 18px;
}

a.item--button {
    background-color          : #004767;
    border-style              : none;
    border-top-left-radius    : 4px;
    border-top-right-radius   : 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius : 4px;
}

a.item--button:hover {
    background-color: #6691a4;
}

#cb-row--footer-main .footer--row-inner {
    background-color: #6691a4
}

#cb-row--footer-bottom .footer--row-inner {
    background-color: #004767
}

.site-content .content-area {
    background-color: rgba(238, 238, 238, 0.5);
}

/* Nextgen */
.bg-sbdi-darkblue {
    background-color: var(--primary-sbdi-darkblue);
}

.banner-portals {
    margin-top: 1em;
}
.banner-portals a {
    color: var(--primary-sbdi-darkblue);
}
#searchIcon {
    padding-top: 20px; 
    padding-bottom: 18px;
}
#searchForm {
    position: absolute;
    margin-left: -27em;
}
#searchForm input {
    width: 30em;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.banner-user-icon {
    padding-top: 20px !important;
    padding-bottom: 18px !important;
}

h1.index-header {
    margin-top: 5rem;
    text-align: center;
    color: var(--primary-sbdi-darkblue);
}

.index-search {
    margin: 3rem 15rem 0;
}

.index-counters {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.index-counters > div {
    margin: 1.5rem 2.25rem;
    color: var(--primary-sbdi-darkblue);
    text-align: center;
}
.index-counters > div > a {
    display: block;
    font-size: 2.5rem;
}
.index-counters > div > a:hover {
    color: var(--primary-sbdi-darkblue);
}
.index-counters > div > div {
    font-size: 1.8rem;
}

.index-cards {
    display: flex;
    justify-content: center;
    margin-top: 4.25rem;
    margin-bottom: 3rem;
}
.index-cards > div {
    width: 15rem;
    margin-right: 1.5rem;
    background-color: #f8fafc;
    border: #e2e8f0 solid 1px;
    border-radius: 0.5rem;
}
.index-cards img {
    border-radius: 0.5rem 0.5rem 0 0;
}
.index-cards h2 {
    margin: 1rem 1rem 0.5rem 1rem;
    font-size: large;
    color: var(--primary-sbdi-darkblue);
}
.index-cards ul {
    margin: 0 1rem 1rem 2rem;
}
.index-cards a:hover {
    color: var(--primary-sbdi-darkblue);
}

.footer-ng {
    padding-top: 0.8rem !important;
    padding-bottom: 0.8rem !important;
}
.footer-ng a {
    color: #ffffff !important;
}
.footer-ng-copyright {
    display: flex;
}
.footer-ng-copyright-text {
    flex-grow: 1;
    align-self: center;
}

/* CSS for desktop */
#sidebar-secondary,
#sidebar-primary,
#main {
    padding-top: 25px;
}

#page-cover {
    text-align: left;
}

#page-cover .page-cover-inner {
    min-height: 0px;
}

#page-titlebar {
    text-align: left;
}

.header--row.header-bottom .customify-grid,
.header--row.header-bottom .style-full-height .primary-menu-ul>li>a {
    min-height: 0px;
}

.header-menu-sidebar-inner {
    text-align: center;
}

.header--row .builder-item--html,
.builder-item.builder-item--group .item--inner.builder-item--html {
    margin-bottom: -64px;
}

.header--row .builder-first--html {
    text-align: left;
}

.site-header .site-branding img {
    max-width: 120px;
}

.site-header .cb-row--mobile .site-branding img {
    width: 120px;
}

.header--row .builder-item--logo,
.builder-item.builder-item--group .item--inner.builder-item--logo {
    margin-top   : 10px;
    margin-bottom: 12px;
}

.header--row .builder-first--logo {
    text-align: left;
}

.header--row .builder-first--nav-icon {
    text-align: right;
}

.header-search_icon-item .search-submit {
    margin-left: -40px;
}

.header-search_box-item .search-form-fields,
.header-search_box-item .search-form-fields .search-field {
    height: 32px;
}

.header-search_box-item .search-submit svg,
.header-search_box-item .header-search-form button.search-submit svg {
    height: 16px;
    width : 16px;
}

.header-search_box-item .search-submit {
    margin-left: -32px;
}

.header-search_box-item .woo_bootster_search .search-submit {
    margin-left: -32px;
}

.header-search_box-item .header-search-form button.search-submit {
    margin-left: -32px;
}

.header--row .builder-item--search_box,
.builder-item.builder-item--group .item--inner.builder-item--search_box {
    margin-bottom: -40px;
}

.header--row .builder-first--search_box {
    text-align: right;
}

.builder-item--primary-menu .nav-menu-desktop .primary-menu-ul>li {
    margin-top   : 0px;
    margin-right : 0px;
    margin-bottom: 0px;
    margin-left  : 0px;
}

.header--row .builder-first--primary-menu {
    text-align: right;
}

.header--row .builder-item--button,
.builder-item.builder-item--group .item--inner.builder-item--button {
    margin-bottom: -39px;
}

.header--row .builder-first--button {
    text-align: right;
}

.footer--row .builder-item--footer-1,
.builder-item.builder-item--group .item--inner.builder-item--footer-1 {
    margin-left: 10px;
}

.footer--row .builder-first--footer-1 {
    text-align: left;
}

.footer--row .builder-first--footer-4 {
    text-align: left;
}


/* CSS for tablet */
@media screen and (max-width: 1024px) {
    #page-cover .page-cover-inner {
        min-height: 120px;
    }

    .header--row .builder-first--nav-icon {
        text-align: right;
    }

    .header-search_icon-item .search-submit {
        margin-left: -40px;
    }

    .header-search_box-item .search-submit {
        margin-left: -40px;
    }

    .header-search_box-item .woo_bootster_search .search-submit {
        margin-left: -40px;
    }

    .header-search_box-item .header-search-form button.search-submit {
        margin-left: -40px;
    }
}

/* CSS for mobile */
@media screen and (max-width: 568px) {
    #page-cover .page-cover-inner {
        min-height: 100px;
    }

    .header--row.header-top .customify-grid,
    .header--row.header-top .style-full-height .primary-menu-ul>li>a {
        min-height: 33px;
    }

    .header-menu-sidebar-inner {
        text-align: right;
    }

    .header--row .builder-first--logo {
        text-align: left;
    }

    .header--row .builder-item--nav-icon,
    .builder-item.builder-item--group .item--inner.builder-item--nav-icon {
        margin-top   : 2px;
        margin-right : 2px;
        margin-bottom: 2px;
        margin-left  : 2px;
    }

    .header--row .builder-first--nav-icon {
        text-align: right;
    }

    .header-search_icon-item .search-submit {
        margin-left: -40px;
    }

    .header-search_box-item .search-submit {
        margin-left: -40px;
    }

    .header-search_box-item .woo_bootster_search .search-submit {
        margin-left: -40px;
    }

    .header-search_box-item .header-search-form button.search-submit {
        margin-left: -40px;
    }
}