body {
    font-size: 1rem;
}

/* links underlined, exeptions below */
#main a {
    text-decoration: underline;
}

/* ALA Colour overrides
================================= */
.color--dark-red {
    color: #284966;
}
.backgroundcolor--dark-red {
    background-color: #284966;
}
.color--green {
    color: #6ba942;
}
.backgroundcolor--green {
    background-color: #6ba942;
}
.color--medium-blue {
    color: #94a5b2;
}
.backgroundcolor--medium-blue {
    background-color: #94a5b2;
}
.color--mellow-red {
    color: #94a5b2;
}
.backgroundcolor--mellow-red {
    background-color: #94a5b2;
}
.color--primary-red {
    color: #284966;
}
.backgroundcolor--primary-red {
    background-color: #284966;
}
.color--red {
    color: #284966;
}
.backgroundcolor--red {
    background-color: #284966;
}
.color--yellow {
    color: #c7d031;
}
.backgroundcolor--yellow {
    background-color: #c7d031;
}
.color--apple {
    color: #6ba942;
}
.backgroundcolor--apple {
    background-color: #6ba942;
}
.color--flamingo {
    color: #58998f;
}
.backgroundcolor--flamingo {
    background-color: #58998f;
}
.color--mojo {
    color: #284966;
}
.backgroundcolor--mojo {
    background-color: #284966;
}
.color-lochmara {
    color: #94a5b2;
}
.background-lochmara {
    background-color: #94a5b2;
}

/* New SBDI definitions */
:root {
    --primary-sbdi-darkblue  : #284966;
    --primary-sbdi-blue      : #6691a4;
    --primary-sbdi-lightblue : #94a5b2;
    --primary-sbdi-bluegreen : #58998f;
    --primary-sbdi-green     : #6ba942;
    --primary-sbdi-limegreen : #c7d031;
    
}

#alaEditable p {
    font-size: 1.175rem;
}

#taxaBox #rightList .rightCounts {
    width: 5%;
}

a.item--button,
#zoomTo.btn,
#reset-map.btn,
#downloads.btn,
button.btn,
input.btn,
span.btn,
.btn,
.btn-primary,
.btn-default,
.btn-default.active,
.gform_button {
    background-color          : var(--primary-sbdi-darkblue) !important;;
    color                     : #fff !important;
    border-style              : none;
    border-top-left-radius    : 4px;
    border-top-right-radius   : 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius : 4px;
    font-family               : "Roboto";
    font-style                : normal;
    font-size                 : 1rem;
    font-weight               : 500;
    text-transform            : none;
    text-decoration           : none !important;
}

#zoomTo.btn-sm,
#reset-map.btn-sm,
#downloads.btn-sm,
button.btn-sm,
input.btn-sm,
span.btn-sm,
.btn-sm {    
    font-size                : .85rem;
}

#zoomTo.btn-xs,
#reset-map.btn-xs,
#downloads.btn-xs,
button.btn-xs,
input.btn-xs,
span.btn-xs,
.btn-xs {    
    font-size                : .75rem;
}

span.btn:hover,
a.item--button:hover,
.btn:hover,
.btn-primary:hover,
.btn-default:hover,
.btn-default.active:hover,
.gform_button:hover,
span.btn:active,
a.item--button:active,
.btn:active:active,
.btn-primary:active,
.btn-default:active,
.btn-default.active:active,
.gform_button:active,
span.btn:hover:active,
a.item--button:hover:active,
.btn:active:hover:active,
.btn-primary:hover:active,
.btn-default:hover:active,
.btn-default.active:active:hover,
.gform_button:hover:active #zoomTo.btn:hover,
#zoomTo.btn:hover,
#zoomTo.btn:active,
#zoomTo.btn:hover:active,
#downloads.btn:hover,
#downloads.btn:active,
#downloads.btn:hover:active,
#reset-map.btn:hover,
#reset-map.btn:active,
#reset-map.btn:hover:active {
    background-color  : var(--primary-sbdi-blue) !important;
    color             : #fff !important;
    text-decoration   : none;
    -webkit-box-shadow: none;
    box-shadow        : none;
}
span.btn::hover:focus,
a.item--button:focus,
.btn:focus,
.btn-primary:focus,
.btn-default:focus,
.btn-default.active:focus,
.gform_button:focus,
span.btn:hover:active:focus,
a.item--button:active:focus,
.btn:active:active:focus,
.btn-primary:active:focus,
.btn-default:active:focus,
.btn-default.active:active:focus,
.gform_button:active:focus,
#zoomTo.btn:focus,
#zoomTo.btn:active:focus,
#downloads.btn:focus,
#downloads.btn:active:focus,
#reset-map.btn:focus,
#reset-map.btn:active:focus {
    background-color  : var(--primary-sbdi-blue) !important;
    outline           : var(--primary-sbdi-darkblue) 1px dotted !important;
    color             : #fff !important;;
    -webkit-box-shadow: none;
    box-shadow        : none;
}

.button:not(.components-button):not(.customize-partial-edit-shortcut-button):hover,
button:not(.components-button):not(.customize-partial-edit-shortcut-button):hover,
input[type=button]:not(.components-button):not(.customize-partial-edit-shortcut-button):hover,
input[type=reset]:not(.components-button):not(.customize-partial-edit-shortcut-button):hover,
input[type=submit]:not(.components-button):not(.customize-partial-edit-shortcut-button):hover {
    background-color  : var(--primary-sbdi-blue);
    color             : #fff;
    text-decoration   : none;
    -webkit-box-shadow: none;
    box-shadow        : none;
}

.button:not(.components-button):not(.customize-partial-edit-shortcut-button):focus,
input[type=button]:not(.components-button):not(.customize-partial-edit-shortcut-button):focus,
input[type=reset]:not(.components-button):not(.customize-partial-edit-shortcut-button):focus,
input[type=submit]:not(.components-button):not(.customize-partial-edit-shortcut-button):focus {
    background-color  : var(--primary-sbdi-blue);
    outline           : var(--primary-sbdi-darkblue) 1px dotted;
    color             : #fff;
    -webkit-box-shadow: none;
    box-shadow        : none;
}

#downloads.btn a {
    text-decoration   : none;
}

#facetWell .caret {
    color: #fff;
}

#main button:not(.components-button):not(.customize-partial-edit-shortcut-button) {
    margin: 0.2rem;
}

#main button.dropdown-toggle:not(.components-button):not(.customize-partial-edit-shortcut-button) {
    margin     : 0;
    min-height : 2em;
    line-height: 2em
}

#main .filter-buttons a {
    height: 70px;
}

#main .leaflet-top, #main .leaflet-bottom {
    z-index: 9;
}
#main .leaflet-pane {
    z-index: 8;
}
#main .leaflet-map-pane {
    z-index: 1;
}

#main-content .leaflet-container .leaflet-popup-pane a,
#main-content .leaflet-container a {
    color: var(--primary-sbdi-darkblue);
}
#main .leaflet-control-container a {
    text-decoration: none;
}
#main-content .leaflet-container .leaflet-popup-pane a.btn,
#main-content .leaflet-container .leaflet-popup-pane a.btn:hover {
    color: #fff;
    text-decoration: none;
}

.btn .btn-default {
    color            : #FFF;
    display          : -webkit-inline-box;
    display          : inline-flex;
    -webkit-box-align: center;
    align-items      : center;
    text-transform   : uppercase;
    font-weight      : 600;
    text-decoration: none;
}

@media (min-width: 992px) {
    #banner-head-buttons {
        min-width    : 30rem;
        margin-bottom: 0;
    }
}

@media (min-width: 992px) {
    #menu-nested-pages-main-menu {
        margin: 0 3rem 0 0;
    }
}

.ui-autocomplete .ui-state-active {
    background-color: var(--primary-sbdi-limegreen);
}

button:not(.components-button):not(.customize-partial-edit-shortcut-button) {
    min-height   : 2.4em;
    line-height  : 2.4em;
    border-radius: 4px;
}

ol.breadcrumb-list, section#breadcrumb {
    border-bottom: 0 transparent;
    background-color: #fff;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
    font-size: .85rem;
}

@media (max-width: 991px) {
    ol.breadcrumb-list, section#breadcrumb {
        margin-top: -.5rem;
        padding-left: 0;
    }
}

ol.breadcrumb-list li {
    display: inline-block !important;
}

section#breadcrumb li + li::before {
    margin: 0 .8rem;
    opacity: 1;
    border-top: 1px solid currentColor;
    border-left: 1px solid currentColor;
    vertical-align: middle;
    content: "";
    width: 5px;
    height: 5px;
    display: inline-block;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    left: auto;
    position: relative;
    top: -2px;
}

ol.breadcrumb-list li:first-child {
    font-weight: 500;
}

.hoverRow td,
tr.hoverRow:nth-child(2n) td,
.hoverCell td,
tr.hoverCell:nth-child(2n) td {
    background-color: var(--primary-sbdi-blue);
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    background-color: var(--primary-sbdi-blue);
}

#accordion {
    height: auto;
}

.pagination>li>a,
.pagination>li>span {
    color          : var(--primary-sbdi-darkblue);
    text-decoration: none;
}
#main .pagination>li>a {
    text-decoration: none;
}

.pagination>.active>a,
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
    background-color: var(--primary-sbdi-blue);
    border-color    : var(--primary-sbdi-blue);
}

/* button disabled styles */
input[type=submit]:disabled,
.btn.disabled,
.disabled.gform_button,
.btn[disabled],
.gform_button[disabled],
fieldset[disabled] .btn,
fieldset[disabled] .gform_button,
.btn-primary.disabled:hover,
.disabled.gform_button:hover,
.btn-primary.disabled:focus,
.disabled.gform_button:focus,
.btn-primary.disabled.focus,
.disabled.focus.gform_button,
.btn-primary[disabled]:hover,
.gform_button[disabled]:hover,
.btn-primary[disabled]:focus,
.gform_button[disabled]:focus,
.btn-primary[disabled].focus,
.gform_button[disabled].focus,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .gform_button:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .gform_button:focus,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .focus.gform_button {
    background-color  : #686868 !important;
    cursor            : not-allowed;
    filter            : alpha(opacity=50);
    opacity           : .5;
    -webkit-box-shadow: none;
    box-shadow        : none;
}

#sortWidgets select {
    padding-right: 2rem;
    width        : initial;
}

select.input-sm,
.input-group-sm>select.form-control,
.input-group-sm>select.input-group-addon,
.input-group-sm>.input-group-btn>select.btn,
.input-group-sm>.input-group-btn>select.gform_button {
    line-height: 1.5;
}

.form-control:focus {
    border-color: var(--primary-sbdi-limegreen) !important;
}

#loading-bar .bar,
.uib-progressbar, 
.progress-bar-danger, 
.progress-bar, 
.progress-bar-success,
.progress-bar-info,
.progress-bar-warning {
    background-color: var(--primary-sbdi-green) !important;
}

/* Collectory overrides (admin pages) */
.btn .mainLink {
    background-color: var(--primary-sbdi-darkblue) !important;
    color: #fff !important;
    border-style: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-size: 1rem;
    font-weight: 500;
    text-transform: none;
    text-decoration: none !important;
}
  
ul.btn-group a, span.button a {
    color: #fff !important;
}

/* Ala-hub (biocache-hubs) overrides (data quality filtering) */
a#view-excluded {
    padding: 0.5em 0.5em !important;
}
button#expandfilters {
    padding: 0 0.85em !important;
}
form#filterRefineForm button.btn {
    padding: 0 0.5em !important;
}
form#filterRefineForm button.btn a {
    color: #fff !important;
    text-transform: none !important;
}

/* Regions overrides */
tr.groupSelected, tr.groupSelected td, tr.groupSelected:hover td {
    background-color: var(--primary-sbdi-blue) !important;
}

tr.speciesSelected, tr.speciesSelected td, tr.speciesSelected:hover td {
    background-color: var(--primary-sbdi-blue) !important;
}
